body {
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    background-color: #E3E3E3;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    font-family: 'Crimson Text', serif;
    color: #232526;
}

p {
    color: #40444b;
}

.left {
    float: left;
}

.right {
    float: right;
}

.row:after {
    content: "";
    display: block;
    clear: both;
}

#header {
    margin-bottom: 15px;
}

#header .header_top {
    padding: 10px;
    background-color: #0A1529;
}

#header .menu_icon {
    margin-right: 20px;
}

#header .menu_icon .bar {
    border: 1px solid red;
    width: 23px;
    margin-top: 8px;
    position: relative;
}

#header .menu_icon .bar::before,
#header .menu_icon .bar:after {
    content: "";
    position: absolute;
    border: 1px solid red;
    right: -1px;
}

#header .menu_icon .bar::before {
    width: 15px;
    top: 5px;
}

#header .menu_icon .bar:after {
    width: 20px;
    top: 10px;
}

#header .logo h1 {
    font-size: 24px;
    margin-bottom: 0px;
}

#header .logo a {
    font-weight: 900;
    color: #edeff0;
}

#header ul li a {
    display: block;
    padding: 0px 10px;
    color: #edeff0;
    font-size: 14px;
    font-weight: 600;
}

#header a:hover {
    color: #fe4020;
}

#header ul li {
    display: inline-block;
    text-transform: uppercase;
    padding-top: 7px;
    margin: 0px -2px;
}

#header .search {
    padding: 5px 10px;
}

#header .search i {
    color: #edeff0;
}

#header .user {
    padding: 5px 10px;
}

#header .user i {
    color: red;
}

#content {
    padding: 20px;
    background-color: #fff;
}

#content p {
    font-size: 14px;
    letter-spacing: 1px;
}

#content a {
    color: #232526;
}

#main {
    width: 72%;
}

#section_1 img {
    width: 100%;
}

#section_2 {}

#section_3 ul {
    list-style: disc;
}

#section_3 ul li {
    display: inline-block;
    width: 48%;
    margin: 0px -2px 10px;
    padding-left: 15px;
}

#sidebar {
    width: 25%;
}

#sidebar img {
    width: 100%;
}