@font-face {
    font-family: 'proxima_novaregular';
    src: url('proxima-webfont.woff2') format('woff2'), url('proxima-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}