#cube {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    transform-style: preserve-3d;
    /* perspective: 400px; */
    animation: cube 10s infinite linear;
}

@keyframes cube {
    from {
        transform: rotate3d(0, 0, 0, 0deg);
    }
    to {
        transform: rotate3d(1, 1, 1, 360deg);
    }
}

#cube div {
    height: inherit;
    width: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid red;
    text-align: center;
    font-size: 40px;
    transition: 10s;
    color: #fff;
    position: absolute;
}

#left {
    transform: rotateY(90deg);
    transform-origin: left;
}

#right {
    transform: rotateY(-90deg);
    transform-origin: right;
}

#top {
    transform: rotateX(-90deg);
    transform-origin: top;
}

#bottom {
    transform: rotateX(90deg);
    transform-origin: bottom;
}

#back {
    transform: translateZ(-300px);
}